<% content_for :title do %>
<%=@title -%>
<% end %>
<% content_for :description do %>
<%=@description -%>
<% end %>
<% content_for :keywords do %>
<%=@keywords -%>
<% end %>
<% content_for :google_plus_profile do %>
<%=@google_plus_profile -%>
<% end %>

 <div id="gear-wrapper">
	<h1>Custom Fly Fishing Rods & Flies</h1>
	<%=image_tag("gearheader.jpg", :class => "hero", :alt => "Custom Made")%>
	<section class="gear">
		<ul class="product">
			<li><%=image_tag("product_rods.png", :alt => "Custom Rods")%></li>
			<li class="product-description">	
				<h2>Rods:</h2>
				<p>Browse our large selection of Sage, St. Croix, and other innovative and performance driven fly rods and find the perfect setup for any species or budget. Let us share our 32 years of experience and knowledge to bring you the best fly fishing imaginable.</p>
			</li>
		</ul>
		<ul class="product">
			<li><%=image_tag("product_reels.png", :alt => "Custom Reels")%></li>
			<li class="product-description">		
				<h2>Reels:</h2>
		 		<p>Our elegantly designed Sage, Abel, Okuma, Lamson, and other fly-fishing reels were made by anglers for anglers to excel in the toughest conditions you can throw at an expert fisherman. Find the fly-fishing reel of your dreams here for a great fishing experience.</p>
	 		</li>
 		</ul>
 		<ul class="product">
			<li><%=image_tag("product_flylines.png", :alt => "Custom FlyLines")%></li>
			<li class="product-description">	
		 		<h2>Fly Lines:</h2>
				<p>To the novice fly angler, the fly line size system is often confusing. What fly line size do you need for trout? Shop our inventory of Scientific Anglers, Cortland, Maxima and other fly lines combined with expert advice for the perfect fishing experience -- and no guess work!</p>
			</li>
		</ul>
	</section>

	<section class="gear">
		<ul class="product">
			<li><%=image_tag("product_tippet.png", :alt => "Custom Tippets")%></li>
			<li class="product-description">	
				<h2>Tippet:</h2>
				<p>Choose our strong, durable, and transparent Umpqua and Rio leaders and tippet for between the end of your flyline and your fly. Essential for catching fish, our leaders and tippet will help you graduate from novice to expert.</p>
			</li>
		</ul>
		<ul class="product">
			<li><%=image_tag("product_tying.png", :alt => "Custom Tyings")%></li>
			<li class="product-description">	
				<h2>Tying Materials:</h2>
				<p>Creating your own ties? Dan has every fur, feather, or synthetic material you can imagine available, even hard-to-find tying materials. He knows the materials you need to make your flies more productive.<p>
				</li>
			<li>
		</ul>
		<ul class="product">
			<li><%=image_tag("product_waders.png", :alt =>"Custom Tippets")%></li>
			<li class="product-description">	
				<h2>Waders:</h2>
				<p>Need waders for your next fly-fishing adventure? Dan has a wide selection of waders, including waders by Dan Bailey and Hodgman. Don’t go on your next adventure without a pair of these fly-fishing essentials!</p>
			</li>
		</ul>
	</section>

	<div class="completerod">
		<h3>Complete Rod Building materials:</h3>
		<p>Dan has everything you need to build your own fly-fishing rod.Reel seats, blanks, guides, threads, epoxies and other supplies are available for purchase. Be sure to check out his extensive inventory!<a href="#"> See Videos of Custom Rods in Action!<p></a>
	</div>
	<div class="clear"></div>

</div>
