<% content_for :title do %>
<%=@title -%>
<% end %>
<% content_for :description do %>
<%=@description -%>
<% end %>
<% content_for :keywords do %>
<%=@keywords -%>
<% end %>
<% content_for :google_plus_profile do %>
<%=@google_plus_profile -%>
<% end %>


    <div class="title">
        <h1 class="maintitle">DAN&rsquo;S TACKLE <%= image_tag("headline_ampersand.png")%> FLY GEAR</h1>
    </div>

    <div class="blueberry">
        <ul class="slides">
            <li><%= image_tag("hero-layer-dan.jpg") %>
                <h2>MEET DAN</h2>
                  <p>Since 1981,&nbsp; Dan's Tackle Service and Dan has been creating custom rods and flies for 60 years.&nbsp; Dan is a Chicago fly fishing icon.</p>
                <%=link_to "Learn more", "/about", :class => "learn-more-button"%>
            </li>
            <li><%= image_tag("hero-layer-gear.jpg")%>
                <h2>RODS & GEAR</h2>
                <p>Custom fly rods are Danʼs specialty.&nbsp; Heʼs been building them since 1970. Beyond rods,&nbsp; Danʼs shop has all of the gear youʼll need.</p>
                <%=link_to "Learn more", "/custom-rods-fly-gear", :class => "learn-more-button"%>
            </li>
            <li><%=image_tag("hero-layer-customer.jpg") %>
                <h2>DAN&rsquo;S FANS</h2>
                <p>One trip to Dan's and you're hooked.&nbsp;See Dan's customers talk about their experiences at Dan's and the fish they've caught as a result.</p>
                <%=link_to "Learn more", "/testimonials", :class => "learn-more-button"%>
            </li>
        </ul>
        <ul class="pager">
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
        </ul>
    </div>

<div><h2 class="subhead">Three ways to get hooked on Dan...</h2></div>

<section class="hooked-on-dan">
    <ul>
        <li class="hooked-rods">
            <h3>Create hand-crafted custom rods one-on-one with an old pro</h3>
            <%=link_to "About Dan's Rods", "/custom-rods-fly-gear"%>
        </li>
        <li class="hooked-scope">
            <h3>Get the inside scoop on the best fishing holes in your area.</h3>
            <%=link_to "See the Holes", "/best-fishing-locations"%>
        </li>
        <li class="hooked-family">
            <h3>Every customer of Dan's is a part of his fisherman family.</h3>
            <%=link_to "About the Fam", "/testimonials"%>
        </li>
    </ul>
</section>

 <section class="about-dan">
    <ul>
        <li class="who-is-dan">
            <h3>Who is Dan?</h3>
            <p>In 1946, Dan and his mother took the bus to downtown Chicago and Dan cast his first line in Montrose Harbor. Even at four years old, Dan was hooked. Dan quickly learned the art of fly fishing and fly tying. At thirteen years old, Dan sold his first flies to fisherman on the Chicago lakefront. Fast forward to today, where Dan has become Chicago's foremost authority on fly fishing.</p>
            <%= link_to "More About Dan", "/about"%>
        </li>
        <li class="dan-specialty">
            <h3>Dan's Specialty</h3>
             <p>Custom fly rods are Danʼs specialty -- heʼs been building them since 1970. Dan takes the time to get to know you to craft a rod just for you. His sixty-six years of experience will result in a rod you will be proud of for years to come.  Dan also makes flies that will be perfect for your destination. Stop by the shop and Dan will make a fly while you watch or even teach you how to do it yourself.</p>
             <%=link_to "Check Out Some Rods", "/custom-rods-fly-gear"%>
        </li>
        <li class="the-shop">
            <h3>The Shop</h3>
             <p>Like many of the best fishing locations in the world, Danʼs shop is a little bit hard to find. But if youʼre serious about fly fishing, itʼs worth the effort. Danʼs little shop has all of the gear youʼll need for your next fishing trip, be it to your local river or to a destination like Alaska. Whether youʼre a beginner or an expert, Dan has the gear and the knowledge to make your next fishing trip a success.</p>
             <%=link_to "Find the Shop", "/contact"%>
        </li>
    </ul>
</section>

<section class="quotes">
    <iframe width="450" height="300" src="http://www.youtube.com/embed/1gf3VXq-qp0" frameborder="0" allowfullscreen></iframe>

    <ul>
        <li class="shay">
            <p class="quote-text"><span class="open-quote-mark">&ldquo;</span>Dan is incredible, not only is he a fishing wise man but an all round great person. I make as many trips to Dan's to pick up tackle as I do to just catch up.<span class="close-quote-mark">&rdquo;</span></p>
            <p class="quote-name">&mdash;Shay Howe</p>
        </li>
        <li class="dustin">
            <p class="quote-text"><span class="open-quote-mark">&ldquo;</span>I love Dan's.  It's the easiest and coolest shopping experience. I walk out of Dan's feeling good about getting the right gear at a fair price.<span class="close-quote-mark">&rdquo;</span></p>
            <p class="quote-name">&mdash;Dustin Anderson</p>
        </li>
    </ul>
</section>




