<% content_for :title do %>
<%=@title -%>
<% end %>
<% content_for :description do %>
<%=@description -%>
<% end %>
<% content_for :keywords do %>
<%=@keywords -%>
<% end %>
<% content_for :google_plus_profile do %>
<%=@google_plus_profile -%>
<% end %>

        <div id="locations-wrapper">
        <h1>Dan's Favorite Fishing Holes</h1>

            <section class="places">
                <article class="locationlist">
            
            <p><%=image_tag("Bahamas-2.jpg", :alt => "Bead-Belly Bouncers and Fly Fishing in Alaska")%> <h2>Bead-Belly Bouncers and Fly Fishing in Alaska</h2>If you’re interested in fly fishing the rivers of Alaska, a Bouncer fly is your best bet. A good way to test a Bouncer is to look at it under water. Think of it as looking at it from the fish’s point of view. A test tank can be made from a 5-10 gallon aquarium, or even a clear plastic shoebox. This way you can see what distribution of beads gives the best action. It will also help you see the minimum weight of beads needed to keep the hook pointing up. Sometimes, a fly that looks great on the vise doesn’t perform so well in the water. It is best to find this out before you book your Alaskan fly fishing trip. Even though Bouncers are weighted, sometimes when fishing deep you need some extra weight on the leader a foot or so away from the fly. This can be accomplished by putting a split shot above the tippet knot, but tangle-free casting then becomes a challenge. Take care when casting with your split shot on the line and you’ll do fine. Give the Bouncer patterns a try: you will be very pleased with them. Stop by the shop to pick some up: there are many in stock or for custom order.</p>
            </article>
            
            <article class="locationlist">
            <p><%=image_tag("Diversey.jpg", :alt => "Diversey Harbor, Chicago, IL")%> <h2>Diversey Harbor, Chicago, IL</h2>Diversey Harbor in Lincoln Park offers some of the finest fly fishing in Chicago. Within walking distance of the Lincoln Park Zoo, Diversey Harbor offers great King Salmon fishing August through November. As winter begins, Brown Trout and Steelheads come into prominence. If you’re brave enough to try it, ice fishing is possible in the winter months but you’ll have to use a standard rod. As spring enters, the Small Mouth Bass dominate. They can be easily found April through September. Of course, Carp are always available in the Diversey Harbor area, but they are most aggressively seen in the summer months. A word of warning: If you are fly casting, be aware of cyclists and skateboarders. They frequent the paths along the harbor and you’ll need to watch out for them.</p>
            </article>
            
            <article class="locationlist">
            <p><%=image_tag("Montrose.jpg", :alt => "Montrose Harbor, Chicago, IL")%> <h2>Montrose Harbor, Chicago, IL</h2>On the northern edge of Lincoln Park, just a short walk from Montrose Beach, is yet another great fly fishing destination in Chicago – Montrose Harbor. A variety of fish can be caught at Montrose Harbor, but Perch fishing is most dominant in the summertime. Late August to September, the King Salmon are in full force, and the Small Mouth Bass come into prominence from April to November. An invasive species, Gobys, can get in the way but you may simply catch and release them for the finer varieties of fish available. Montrose Harbor is a protected harbor, meaning there are many places to stand and fly cast while avoiding the strong northeast winds. It is quite a pleasant place for the fly fisherman. As with all Chicago harbors, you will need to be aware of your surroundings as people frequent the paths along the harbor.
</p>
            </article>
            
            <article class="locationlist">
            <p><%=image_tag("Jackson-Park.jpg", :alt =>"Jackson Park Harbor, Chicago, IL")%> <h2>Jackson Park Harbor, Chicago, IL</h2>Consisting of both an inner and an outer harbor, Jackson Park Harbor is on the 63rd Street Beach. August through November, the King Salmon dominate the fly fishing scene, dying out at the beginning of winter. Then, the Brown Trout and Steelheads come into full force. If you are adventurous and would like to try ice fishing, Perch, Steelheads, and Brown Trout can be fished through the ice. In spring, starting in April, the Small Mouth Bass are easily fished from Jackson Park Harbor’s waters. On occasion, you can even catch a Bluegill or two. In the summer months, the Carp are more aggressively seen. As with all Chicago fishing destinations be aware of cyclists and skateboarders.</p>
            </article>
            
            <article class="locationlist">
            <p><%=image_tag("Emerald_bay.jpg", :alt =>"Bahama Island")%> <h2>Bahamas</h2>The Deep Water Cay Club (DWCC), located on Grand Bahama Island, is among one of the finest Bonefish fishing destinations in the world. True sportsmen (read: fly fisherman) rely on exclusively artificial flies to catch bonefish in the shallow waters of the Bahama flats. Flats boats on 20-foot pulls scour the shallow waters looking for schools of bonefish. Most fly fishermen fishing in the Bahamas practice catch-and-release fishing. Harder to catch but also available to the fly fisherman are Tarpon and Permit fish. Any time is a good time to visit the Deep Water Cay Club, but caution must be exercised June through October. This is hurricane season and it is possible to have a trip cancelled due to hurricanes.
</p>
            </article>
            
            <article class="locationlist">
            <p><%=image_tag("Canadian-lake.jpg", :alt => "Wollaston Lake, Saskatchewan, Canada")%> <h2>Wollaston Lake, Saskatchewan, Canada</h2>The largest lake entirely within Saskatchewan, Wollaston Lake is a premier fly fishing destination. More than 100 miles long and 400 feet deep, Wollaston attracts fly fisherman eager to catch Northern Pike, Lake Trout, Arctic Grayling, and Walleye. The Northern Pike, in particular, can get as big as 50 inches. 8 to 10 weight fly rods, as well as larger flies, are recommended. Ice-out, around mid-June, is the best time to go as the Northern Pike go into deeper waters as the outside temperature heats up. Most fly fisherman practice catch-and-release fishing on Wollaston Lake. Several lodges, including the Wollaston Lake Lodge, are available for luxury accommodations and helpful fishing guides.</p>
            </article>
            
            <article class="locationlist">
            <p><%=image_tag("Bristol.jpg", :alt => "Bristol Bay, Alaska, USA")%> <h2>Bristol Bay, Alaska, USA</h2>A premier North American fly fishing destination is Bristol Bay, Alaska. As a guest at one of their legendary lodges, you will fly out every day to a new river and experience fly fishing at its finest. All types of Salmon, including King Salmon, Sokeye Salmon, Chum Salmon, and Pink Salmon, can be caught, as well as Lake Trout, Arctic Char, and Native Rainbow Trout. Fly fishing is done both from boats and also from the shallows near the shoreline. Hundreds of miles of surrounding rivers and streams are available to the fly fishermen. Just hop in a sea plane and find your next Alaskan adventure.</p>
            </article>
            
             <article class="locationlist">   
            <p><%=image_tag("Montrose.jpg", :alt => "Southeast Wisconsin, USA")%> <h2>Southeast Wisconsin, USA</h2>Tributaries of Lake Michigan in Wisconsin offer a variety of fly fishing destinations. The Root River near Racine, Wisconsin and the Milwaukee River of Milwaukee, Wisconsin are examples of fine fly fishing areas. Much like the Chicago area, King Salmon and Trout can be found in the fall, while Small Mouth Bass are more dominant in the Summer. The Sheboygan River is also quite good. Close to the Kohler property, it is an aesthetically pleasing fishing destination.</p>
            </article>
        </section>
</div>
