<% content_for :title do %>
<%=@title -%>
<% end %>
<% content_for :description do %>
<%=@description -%>
<% end %>
<% content_for :keywords do %>
<%=@keywords -%>
<% end %>
<% content_for :google_plus_profile do %>
<%=@google_plus_profile -%>
<% end %>


<div class="sub-page-title">
    <h1>The Good Word On Dan's Tackle & Fly Gear</h1>
</div>

<section class="testimonials-main">
    <ul>
        <li>
            <p class="quote-text"><span class="open-quote-mark">&ldquo;</span>Dan is incredible, not only is he a fishing wise man but an all round great person. I make as many trips to Dan's to pick up tackle as I do to just catch up. I was hooked when Dan made a fly for me, free of charge, based on a story I told him of bad luck at the lake. The following weekend I caught more fish with that one fly than I had all summer. I can't thank Dan enough, and will forever support Dan's.<span class="close-quote-mark">&rdquo;</span></p>
            <p class="quote-name">&mdash;Shay Howe</p>
        </li>
        <li>
            <p class="quote-text"><span class="open-quote-mark">&ldquo;</span>I love Dan's. It's the easiest and coolest shopping experience.  You get great advice from a guy is more like a friend than a salesman. I hang out there joking around, talking about fishing, listening to great jazz and enjoying a drink. I walk out of Dan's feeling good about getting the right gear at a fair price. Ever since my first visit, I've enjoyed the midwest outdoors more than ever.<span class="close-quote-mark">&rdquo;</span></p>
            <p class="quote-name">&mdash;Dustin Anderson</p>
        </li>
        <li>
            <p class="quote-text"><span class="open-quote-mark">&ldquo;</span>I consider myself to be a pretty good angler, but once I met Dan things really took a turn for the better.  I’ve since caught many and MUCH bigger fish as a direct result from Dan’s recommendations and expertise. This area has some truly epic angling opportunities and Dan knows the how, when, and where to get into them. <span class="close-quote-mark">&rdquo;</span></p>
            <p class="quote-name">&mdash;Sean Riha</p>
        </li>
        <li>
            <p class="quote-text"><span class="open-quote-mark">&ldquo;</span>Fishing has been one of my life's passions. I thought I knew a lot until I went to Dan's shop. Dan has a vast knowledge in fishing and always willing to share it. I've learned how to fly fish , tie flies and build fishing rods from him. I bring my 2 sons and it's one of their favorite places to hang out. Dan is a great teacher.Dan's is definitely a great fishing experience."<span class="close-quote-mark">&rdquo;</span></p>
            <p class="quote-name">&mdash;Mike Asnis</p>
        </li>
    </ul>
</section>
<section class="yelp">
    <h2>Yelp Reviews on Dan's Tackle Service</h2>
    <%=image_tag("yelp_logo_100x50.png", :class => "yelp-logo") %>

    <ul class="yelp-review">
        <li class="yelp-user-thumb"><%=image_tag("http://s3-media2.ak.yelpcdn.com/photo/A0DahxVRcSCa1LLmNxLqaQ/ss.jpg") %></li>
        <li class="yelp-star-review"><%=image_tag("img/yelp-five-star.png")%></li>
        <li class="yelp-review-date">10/25/2012</li>
    </ul>
    <p class="yelp-review-text">Dan is so nice and knowledgable, and his inventory is great and reasonably priced. He has great stories and provided me with top notch customer service! I highly recommend going here if you have any interest (or much interest) in fishing!! <a href="http://www.yelp.com/biz/dans-tackle-service-chicago#hrid:U8rtPBd6QUGZJEvRK0K7HQ">View Full Review</a></p>
</div>
<hr class="hline" />
<div class="review">
    <ul class="yelp-review">
        <li class="yelp-user-thumb"><img src="http://s3-media1.ak.yelpcdn.com/photo/SaPFrSxrFeGLgTYIZ_HfJA/ss.jpg"></li>
        <li class="yelp-star-review"><%=image_tag("img/yelp-five-star.png")%>
        <li class="yelp-review-date">5/21/2012</li>
    </ul>
    <p class="yelp-review-text">Want to get some fishing gear in the city, and not sure where to get it? You won't find any at Sport's Authority, and you may have to drive out towards the edge of town to the next nearest place. Thankfully, Dan is located here right in the middle of Bucktown for all your fishing tackle needs. Finding this place is awesome. I would have had no idea that this place which looks like any other 2 flat apartment, actually houses a fully stocked fishing supply shop. <a href="http://www.yelp.com/biz/dans-tackle-service-chicago#hrid:lXPEuYv69X1NOptVFaYbYw">View Full Review</a></p>
</div>
<hr class="hline" />
<div class="review">
    <ul class="yelp-review">
        <li class="yelp-user-thumb"><img src="http://s3-media2.ak.yelpcdn.com/photo/e9bbYbsG6JCriigd5defGg/ss.jpg"></li>
        <li class="yelp-star-review"><%=image_tag("img/yelp-five-star.png")%></li>
        <li class="yelp-review-date">4/12/2010</li>
    </ul>
    <p class="yelp-review-text">Awesome... up an old staircase on a now yuppie-fied residential street in Bucktown and you'll find fishing heaven.  Dan is extremely helpful and knowledgeable about all things aquatic.  I got a starter pole for about $30, although they have more advanced/specialized ones that run up to $100.  I also got a fish stringer for a buck and a nice lure for $4. <a href="http://www.yelp.com/biz/dans-tackle-service-chicago#hrid:j6IkE_zVvwCdY3XXhr9Tyw">View Full Review</a></p>
    <a href="http://www.yelp.com/biz/dans-tackle-service-chicago"><%= image_tag("reviewsFromYelpRED.gif", :class => "yelp-badge") %></a>

</section> 
